---
- name: Gather nvme vendor device info
  shell: > 
    /sbin/nvme id-ctrl -v "{{ nvme_device }}
  register: nvme_info_result

- name: debug nvme_info_result
  debug:
    var: nvme_info_result

- name: Extract volume ID from nvme_info_result (shows up as serial number)
  shell: echo "{{ nvme_info_result.stdout }}" | grep '^sn'
  register: nvme_volume_id_result

- name: debug nvme_volume_id_result
  debug:
    var: nvme_volume_id_result

- name: Extract the device name from NVME vendor info.
  shell: echo "{{ nvme_info_result.stdout }}" | grep '^0000' | awk '{print $NF}' | sed 's/"//g'
  register: nvme_external_block_device_name_result

- name: debug nvme_external_block_device_name_result
  debug:
    var: nvme_external_block_device_name_result
